.job-tracker {
  overflow-y: hidden;
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
}
.indexScreen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 999px) {
  .indexScreen {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
